/* Put your code here */
.grid {
    display: grid;
    /* grid-template-rows: 100px 200px; */
    /* grid-template-columns: 200px auto 150px; */

    grid-template: 100px 200px
        / 200px auto 150px;
}

.grid div:nth-child(2) {
    grid-area: 2 / 1 / 2 / 4;
}
